<h1>Registro de usuarios</h1>

<form action="/api/usuarios/registro" method="POST">
    <input type="text" placeholder="ingrese su nombre" name="nombre">
    <input type="text" placeholder="ingrese su apelido" name="apellido">
    <input type="email" placeholder="ingrese su correo electronico" name="email">
    <input type="dni" placeholder="ingrese su nro de documento" name="dni">

    <input type="text" placeholder="ingrese su username" name="username">
    <input type="password" placeholder="ingrese su contraseña" name="password">
    <br><br>
    <input type="submit" value="Registrar">
</form>