<h2>Login:</h2>

<form action="http://localhost:3000/login" method="post">
    <input type="email" name="email" placeholder="ingrese email">
    <input type="password" name="password" placeholder="ingrese contraseña">
    <input type="submit" value="Login">

</form>