<h1>Carga usuario:</h1>
<form action="/api/users" method="post">

    <input type="text" name="first_name" placeholder="ingrese su nombre">
    <input type="text" name="last_name" placeholder="ingrese su apellido">
    <input type="number" name="age" placeholder="ingrese su edad">
    <input type="email" name="email" placeholder="ingrese su email">

    <br><br>
    <input type="submit" value="Registrar">



</form>