<h2>Registro</h2>
<form action="/api/sessions/signUp" method="post">
    <input type="text" placeholder="Ingrese su nombre" name="name">
    <input type="text" placeholder="Ingrese su apellido" name="last_name">
    <input type="email" placeholder="Ingrese su email" name="email">
    <input type="password" placeholder="Ingrese su contraseña" name="password">
    <input type="number" placeholder="Ingrese su edad" name="age">
    <br><br>
    <input type="submit" value="Registrarse">
</form>
<br><br>
<p>Si ya tenés una cuenta, ingresá <a href="/login">aquí</a></p>