<h1>Login</h1>

<form action="/api/sessions/login" method="post">
    <input type="email" placeholder="Ingrese se email" name="email">
    <input type="password" placeholder="Ingrese su contraseña" name="password">
    <br><br>
    <input type="submit" value="Ingresar">
</form>

<br><br>
<p>Ingresar con <a href="/api/sessions/github">Github</a></p>

<p><a href="/signUp">Registarte</a></p>